/************************
 		
 	 General Styles

 ************************/

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#header {
	background: linear-gradient(rgb(158, 158, 158),rgb(133, 133, 133),rgb(73, 73, 73));
	height: 80px;
	padding-left: 10px;
	position: fixed;
	right: 0;
	left: 0;
	margin:0;
	z-index: 1;
	color: rgb(228, 228, 228);

}

#content {
	padding-top: 80px;
	font-size: 1.4em;
	height: 100%;
	background: rgb(231, 231, 231);
}

.section {
	position: absolute;
	height: 100%;
	width: calc(50% - 2px);
	border: solid 1px black;
	overflow: auto;
}

.unstyled-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.count {
	color: green;
	padding: 0 4px;
}

/************************
 		
 		Pages List 

 ************************/

#pagesListSection {
	left: 0;
}

#pagesList:empty:before {
	content: "Loading...";
	color: #0011C9;
	font-size: 1.5em;
	margin: 0 42%;
}

.page-listing {
	border: 2px solid black;
	border-radius: 3px;
	background: white;
	padding: 7px;
	margin: 5px;
	transition: background 0.23s ease-in;
}

.page-listing:hover {
	background: rgb(255, 255, 173);
	cursor: pointer;
}

.clicked-page-listing {
	background: rgb(219, 242, 255);
	border-color: rgb(0, 173, 255);
}

/************************
 		
 	 Referrers List
 		
 ************************/

#referrersListSection {
	right: 0;
}

#referrersListTitle {
	padding: 12px;
	margin: 0;
	border-bottom-left-radius: 13px;
	background: rgb(184, 184, 184);
}

#referrersListPageName {
	font-style: italic;
}

#referrersList:empty:before {
	content: "No Referer data available";
	color: red;
}